.home_btns{
  margin: auto;
  width: 100%;
  border: none;
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

body, html {
  height: 100%;
}

/*
.parallax {
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
*/


.nav {
    width: 100%;
    height: 40px;
    background-color: #272727;
    overflow: hidden;
    position: fixed;
}


.home {
  /* The image used */
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  background-attachment: fixed;
  background-image: url("library_splash.jpeg");
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.library {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  background-attachment: fixed;
  background-image: url("library_splash_darkened.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.book {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  background-attachment: fixed;
  background-image: url("book_splash.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.license {
  text-align: center;
}

.force-to-bottom {
  position:absolute;
  bottom: 1%;
  width: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.form-border {
  padding: 50px 200px;
}




@keyframes fadein {
from {
    opacity:0;
}
to {
    opacity:1;
}
}
@-moz-keyframes fadein { 
from {
    opacity:0;
}
to {
    opacity:1;
}
}
@-webkit-keyframes fadein {
from {
    opacity:0;
}
to {
    opacity:1;
}
}
@-o-keyframes fadein {
from {
    opacity:0;
}
to {
    opacity: 1;
}
}

